@import url('https://fonts.googleapis.com/css?family=K2D');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
.main-content {
    background-image: linear-gradient(to bottom, #D98656, #CC2E2F);
    background-repeat: no-repeat;
    padding: 120px 0;
}
.container {
    color: aliceblue;
    font-family: 'Roboto Mono', monospace;
}
.img-fluid{
    width:40%;
}

.header {
  background-color: #fff;
  padding: 40px;
  text-align: center;
}

.header .logo img {
  max-width: 333px;
}

.titulos{
    font-family: 'K2D', sans-serif;
    text-align: center;
    margin-bottom: 10px;
    display: block;
}

section {
    text-align: center;
}

.card {
    color: black;
    margin: 0 auto;
    border-radius: 10px;
}

.fa-file-download {
    font-size: 2rem;
}

.init ul{
    list-style: none;
}

footer .container {
    text-align: left;
}

.fa-heart {
    color: red;
}

.footer {
    background-color: #8e0a0a;
}

.rodape {
    list-style: none;
}

.rodape a {
    color: #f0f8ff;
    transition: .5s;
}

.rodape a:hover {
    color: #afa5b1;
}
